.button {
  padding-top: 25px;
  padding-bottom: 20px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;

  border-radius: 14px;
  background-color: #f81157;
  box-shadow: -2.8px 1px 24px 0 rgba(220, 33, 38, 0.39), 0px 4px 0px 0px #b90a3f;
  border: none;

  &_form {
    width: 24%;
  }

  &_form-modal {
    width: 100%;
    margin-bottom: 29px;
  }
}