.desc {
  min-height: 960px;
  padding-bottom: 60px;
  padding-top: 120px;

  @include bg;
  background-image: url('/src/img/bgs/desc-bg.jpg');

  @media (max-width: 575px) {
    padding-top: 130px;
  }
}

.desc__title {
  margin-bottom: 87px;

  text-shadow: 0 0 15.3px #903bff;
  font-family: HeliosExt;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 55px;

  @media (max-width: 991px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 31px;
  }
  @media (max-width: 575px) {
    font-size: 21px;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.desc__text {
  margin-bottom: 23px;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.desc__note {
  margin-bottom: 38px;

  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.desc__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
