.footer {
  min-height: 170px;

  background-color: #580ec3;
}

.footer__wrapper {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 991px) {
    flex-direction: column;
    padding-top: 15px;
  }
}

.footer__text {
  margin-bottom: 0;
  font-size: 16px;

  &_contact-box {
    text-align: right;
  }

  &_copyright {
    width: 50%;

    &_thanks {
      width: 40%;
    }

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &_address {
    width: 50%;

    &_thanks {
      width: 40%;
    }

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  @media (max-width: 991px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.footer__phone-call,
.footer__policy {
  color: $white;
  text-decoration: underline;
  padding: 0;

  border: none;
  background-color: transparent;
}

.footer__phone {
  position: relative;

  font-size: 28px;
  font-weight: bold;
  color: $white;
  line-height: 19px;

  &:hover {
    color: $white;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    content: url('/src/img/icons/phone-white.png');
  }
}
