.galery {
  min-height: 1000px;
  padding-top: 105px;
  padding-bottom: 120px;

  @include bg;
  background-image: url("/src/img/bgs/galery-bg.jpg");

  @media (max-width: 991px) {
    padding-top: 50px;
  }

  @media (max-width: 575px) {
    padding-bottom: 50px;
  }
}

.galery__title {
  margin-bottom: 54px;

  font-family: HeliosExt;
  font-size: 36px;
  font-weight: 900;
  text-align: center;

  @media (max-width: 575px) {
    font-size: 33px;
  }
}

.galery__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.galery__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.galery__column {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;

  &:nth-child(2n) {
    position: relative;
    top: 10px;

    @media (max-width: 767px) {
      top: 0
    }
  }

  @media (max-width: 575px) {
    width: 100%;
  }
}

.galery__photo {
  margin-bottom: 19px;
  border-radius: 14px
}