.model {
  min-height: 900px;
  padding-top: 84px;
  padding-bottom: 70px;

  @include bg;
  background-image: url('/src/img/bgs/model-bg.jpg');

  overflow-x: hidden;

  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

.model__title {
  margin-bottom: 50px;

  font-family: HeliosExt;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: #000000;

  @media (max-width: 767px) {
    font-size: 28px;
  }

  @media (max-width: 575px) {
    font-size: 18px;
  }
}

.model__content {
  width: 90%;
  margin-left: auto;
  margin-bottom: 21px;

  border-radius: 14px;

  overflow: hidden;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.model__row {
  display: flex;
  min-height: 56px;

  border-bottom: 1px solid #8d3dff;
  background-color: #f1e7ff;

  &:first-child, &:last-child {
    border-bottom: none;
  }

  &_head {
    min-height: 80px;

    background-color: #8d3dff;
  }
}

.model__cell {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-size: 18px;
  color: black;
  text-align: center;

  background-color: $white;

  &_income, &_spend {
    background-color: #580ec3;

    font-family: HeliosExt;
    font-size: 24px;
    font-weight: 900;
    color: $white;

    @media (max-width: 575px) {
      font-size: 15px;
    }
  }

  &_income {
    border-top-right-radius: 14px;
  }

  &_spend {
    background-color: #8d3dff;
  }

  &_dark {
    background-color: #f1e7ff;
  }

  &_rounded {
    border-bottom-right-radius: 14px;
  }

  @media (max-width: 575px) {
    font-size: 13px;
  }
}

.model__note {
  position: relative;
  right: 20px;

  margin-bottom: 45px;

  font-size: 14px;
  text-align: right;
  color: #000000;

  @media (max-width: 575px) {
    font-size: 11px;
  }
}
